body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-sider-children {
  margin-top: 64px !important;
}

.topbar-profile {
  background: slategray;
  border-radius: 50px;
  padding: 4px;
}

a.ant-dropdown-trigger.topbar-profile {
  display: flex;
  color: white;
  font-size: 13px;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger {
  flex: 0 0 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  width: 0px !important;

}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger .ant-tabs-nav-wrap {
  display: none;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger .sidebar-addtitional {
  display: none !important;

}

.topbar-right-side {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.notification {
  font-size: 18px;
  margin-right: 20px;
}


.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-sider-children {
  margin-top: 64px !important;
}

;

.hoverClass {
  display: none;
}

/* .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover{
  background-color: green !important;
} */

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: center !important;
}


.submenu .hoverClass {
  opacity: 0;
}

.submenu :hover .hoverClass {
  opacity: 1;
}

.buttonStyleCrewMember {
  border: none;
  background: transparent;
}

.ql-editor {
  font-size: 18px !important;
}

.ant-layout-header {
  padding-inline: 30px !important;
}

.bgContainerParent {
  background-image: linear-gradient(to right, #49c4ee, #6e87d6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boyImage {
  height: 200px;
}

.ant-layout .ant-layout-sider-children {
  height: 100%;
  padding-top: 0.1px;
  /* border: 1px solid; */
  border-radius: 3px;
  border-color: silver;
}



/* ************************************************************************************************************************************** */



/* dashboard */

.ant-layout.ant-layout-has-sider {
  flex-direction: row;
}

.layout-dashboard {
  background: transparent;
  text-align: left;
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  .layout-dashboard {
    overflow: auto;
  }
}

.layout-dashboard .ant-layout-sider.sider-primary {
  width: 250px;
  position: fixed;
  left: 0;
  z-index: 99;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 33px 20px;
}

.layout-dashboard .ant-layout-sider.sider-primary .brand {
  font-weight: 600;
}

.layout-dashboard .ant-layout-sider.sider-primary .brand span {
  vertical-align: middle;
  margin-left: 3px;
}

.layout-dashboard .ant-layout-sider.sider-primary .ant-layout-sider-children {
  width: auto;
}

.layout-dashboard .ant-layout-sider.sider-primary .ant-menu-inline .ant-menu-item.menu-item-header {
  padding: 10px 16px !important;
  color: #8c8c8c;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
}

.menu-item-header:hover {
  color: inherit;
}

.layout-dashboard .ant-layout {
  background: transparent;
  /* position: relative; */
  min-height: 100vh;
  width: 100%;
  flex-shrink: 0;
}

.layout-dashboard .ant-layout-header {
  background: transparent;
  height: auto;
  padding: 16px;
  margin: 10px 4px;
  line-height: inherit;
  border-radius: 12px;
  transition: 0.2s;
}

.h3,
.h4,
h3,
h4 {
  font-weight: 700;
  color: #141414;
}

.ant-list-item-meta-title>a {
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
}

.ant-list-item-meta-title {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 22px;
}

.layout-dashboard .header-control .ant-btn-link {
  height: auto;
  padding: 0 7px;
  margin: 0;
  box-shadow: none;
  color: #8c8c8c;
  line-height: normal;
}

.layout-dashboard .header-control .btn-sign-in svg {
  margin-right: 4px;
}

.layout-dashboard .header-control svg {
  vertical-align: middle;
}

.divder {
  display: table;
  width: 100%;
  padding: 10px 15px;
  color: #8c8c8c;
  font-weight: 600;
  margin: 15px 0px;
}

.ant-card.ant-card-bordered.documentation-card {
  border: 0px;
  box-shadow: 0px 20px 27px #0000000d;
  border-radius: 8px;
  background: #fff;
}

.p-15 {
  padding: 15px;
}

.ant-card.criclebox {
  box-shadow: 0px 20px 27px #0000000d;
  border-radius: 12px;
}

.number span {
  font-weight: 600;
  color: #8c8c8c;
  font-size: 14px;
}

.number h3 {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 7px;
}

.number h3 small {
  font-weight: 600;
  font-size: 14px;
}

.linechart h5 {
  font-weight: 700;
  margin: 0px;
}

.linechart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sales ul li:first-child span.anticon {
  color: #b37feb;
}

.sales ul li:last-child span.anticon {
  color: #1890ff;
}

.sales ul li {
  color: #8c8c8c;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

span.blue {
  margin-left: 5px;
  color: #1890ff;
  font-weight: 600;
}

.project-ant h5 {
  margin: 0px;
  color: #141414;
  font-weight: 700;
}

span.blue {
  margin-left: 5px;
  color: #1890ff;
  font-weight: 600;
}

.project-ant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-list-box th {
  text-align: left;
  border-bottom: 1px solid #0000000d;
  padding: 8px 0px;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}

.ant-list-box td {
  text-align: left;
  border-bottom: 1px solid #0000000d;
  padding: 16px 25px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.title-box h5 {
  margin: 0px;
}

.text-xs {
  color: #8c8c8c;
}

.py-4 {
  padding: 20px;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.icon-move-right .anticon-right {
  color: #40a9ff;
  margin-left: 2px;
}

.icon-move-right {
  color: #1890ff;

  display: block;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

span.ismobile {
  display: none;
  margin-right: 15px;
  cursor: pointer;
}

@media (max-width: 992px) {
  span.ismobile {
    display: inline-block;
  }

  .bar-chart {
    width: 100% !important;
    max-width: 100%;
  }

  .full-width {
    max-width: 100% !important;
  }

  .bar-chart {
    width: 100% !important;
  }
}

.ant-radio-button-wrapper:last-child {
  border-radius: 0 4px 4px 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.ant-table-thead>tr>th {
  color: #8c8c8c;
  font-weight: 700;
  background-color: transparent;

  font-size: 12px;
}

.menuListSection {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.menuListSection:hover {
  /* background-color: #49c4ee; */
  border-radius: 5px;
  cursor:pointer;

}

.menuListSection:hover .showPlusOutlined {
      display: block;

}



.menuListLengthContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;

}
.addDeleteContainer{
  display: flex;
}

.menuListContainer{
  display:flex;
  align-items: center;

}


.showPlusOutlined {
  display: none;
}


.sideBarContainer{
  overflow: auto;
  white-space: nowrap;
}